@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Shadows+Into+Light&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align:center;
    text-decoration:none;
    padding:35px;
    color:#fed766;
    border-left:6px solid black;
    border-right: 6px solid black;
}
h1{
    color: #0b4f6c;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #bb4430;
    border: 22px solid #bb4430;
    border-radius:25px;
}
p{
    color: #0b4f6c;
    margin-left: 150px;
    margin-right: 150px;
}
h2{
    color:#0b4f6c;
    margin-left: 150px;
    margin-right: 150px;
}
nav {
    display:flex;
    justify-content: space-around;
}
main section{
    text-align:center;
}
body{
    background-color: #8c9a9e;
    font-family: 'Roboto:ital', Times, serif;
    font-size:22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #bb4430;
    display:grid;
    grid-template-columns: 150px auto;
}
nav a:hover{
    background-color: #0b4f6c;
}
footer{
    background-color: #bb4430;
    color:#fed766;
    padding:25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social img{
    padding-top:15px;
}
.logo{
    width: 80px;
}
.book_img{
    width: 50%;
}
.home-title{
    font-family: Pacifico, Times, serif;
    font-size:4em;
    margin-top:10px;
}
.home-grid{
    display:grid;
    grid-template-columns:1, 1fr;
}
h2{
    font-family: 'Shadows Into Light', Times, serif;
}
#logo_link{
    padding-top:5px;
    justify-self: center;
    align-self: center;
}
.book_day, .wind, .wheel{
    margin: 100px 0;
    padding-left: 50px;
    padding-right: 50px;  
}
.book_img{
    border:10px solid black;
    border-radius: 25px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.book_img{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .book_day, .wind, .wheel { 
        margin: 50px auto;
        width: 60%;
    }
    footer {
        margin-top: 25px;
    }
}
            
/*page 2*/
.grid_em_all{
    padding-top:170px;
    margin-left: 180px;
    display: grid;
    grid-template-columns:250px 250px 250px 250px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
    justify-content: center;
    align-items: center;
}
#img_all{
    box-shadow: 4px 4px black;
    margin-bottom: 200px;
    width: 100px;
    border:11px solid black;
    border-radius: 12px;
}

.book_authors{
    color:#0b4f6c;
}





















/*page 3*/
.author_img{
    width: 100px;
    padding-bottom: 120px;
}
.brandon_sanderson{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#bb4430;
    height: 200px;
    margin-top: 100px;
}
.author_img{
    margin-top: 120px;
}
.brandon_link{
    margin-left: 33px;
}
.brandon_link:hover{
    color: #0b4f6c;
}
.scott_westerfield{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#bb4430;
    height: 200px;
    margin-top: 100px;
}
.scott_link{
    margin-left: 230px;
}
.scott_link:hover{
    color: #0b4f6c;
}
.michael_sulivan{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#bb4430;
    height: 200px;
    margin-top: 100px;
}
.michael_link{
    margin-left: 120px;
}
.michael_link:hover{
    color: #0b4f6c;
}
.china_mieville{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#bb4430;
    height: 200px;
    margin-top: 100px;
}
.china_link{
    margin-left: 200px;
}
.china_link:hover{
    color: #0b4f6c;
}
.list_authors{
    color:#0b4f6c;
}
.brian_mcclellan{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#bb4430;
    height: 200px;
    margin-top: 100px;
}
.brian_mcclellan_link{
    margin-left: 180px;
}
.brian_mcclellan_link:hover{
    color: #0b4f6c;
}
.jim_butcher{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#bb4430;
    height: 200px;
    margin-top: 100px;
}
.jim_butcher_link{
    margin-left: 200px;
}
.jim_butcher_link:hover{
    color: #0b4f6c;
}
.guy_gavriel_kay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#bb4430;
    height: 200px;
    margin-top: 100px;
}
.guy_kay_link{
    margin-left: 220px;
}
.guy_kay_link:hover{
    color: #0b4f6c;
}
.rachel_aaron{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#bb4430;
    height: 200px;
    margin-top: 100px;
}
.rachel_link{
    margin-left: 270px;
}
.rachel_link:hover{
    color: #0b4f6c;
}
.brent_weeks{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#bb4430;
    height: 200px;
    margin-top: 100px;
    
}
.brent_weeks_link{
    margin-left: 200px;
}
.brent_weeks_link:hover{
    color: #0b4f6c;
}
.hope_works{
    text-align: center;
    position: relative;top:84px;
}
