form {
    margin: 0 auto;
    width: 500px;
    grid-column: 1;
    grid-row: 1;
}
h1{
    color:steelblue;
}
li{
    margin-top: 30px;
    text-align: center;
}
#grid_all{
    display: grid;
    grid-template-columns: 2, 100px;
    grid-template-rows: 100px;
    justify-items: center;
}
.img_div{
    grid-column: 2;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    display: none;       
}